
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none; 
}

.show>.btn-secondary.dropdown-toggle{
   background-color: #4fc7f7;
   border-color: #4fc7f7;
}

.btn-secondary:focus, .btn-secondary:hover,  .btn-secondary {
   color: #fff;
   background-image: linear-gradient(to right, #fc7500, #8cd163);
   border-color: transparent;
   box-shadow: none;
   font-size: 0.9rem;
}

.shadow-lg {
    box-shadow: none !important;
}

.card{
    border: transparent;
    border-radius: 0 !important;
    background-color: transparent !important;
}

.container-fluid{
    background-color: #fc750000;
}

.input{
    font-weight: 500;
    background-color: #66666620;
    border:transparent;
    border-radius: 5px;
    padding: 1.5vh 0;
}

.input-group-text{
    border:transparent;
    background-color: transparent;
}

.form-control:focus {
    border-color: transparent;
    box-shadow: none;
}